.indicator-on {
    background-image: url("../img/main/elements/indicator-on.png");
}

.indicator-off {
    background-image: url("../img/main/elements/indicator-off.png");
}

.indicator-err {
    background-image: url("../img/main/elements/indicator-err.png");
}

.toggler-off{
    border-radius:30px;
}

.toggler-on{
    border-radius:30px;
}

/*

center

*/
#main-mode-switcher {
    border-radius: 50%;
    top: 200px;
    left: 482px;
}

.top-menu-info{
    min-height:12px;
}

.center .indicator {
    left: 434px;
}

#ethernet-indicator {
    top: 72px;
}

#usb1-indicator {
    top: 124px;
}

#usb2-indicator {
    top: 175px;
}

/*

right

*/
.right .pc1 .indicator {
    top: 78px;
}

.right .pc2 .indicator {
    top: 264px;
}

#pc1-err-indicator, #pc2-err-indicator {
    left: 795px;
}

#pc1-plus-27b-indicator, #pc2-plus-27b-indicator {
    left: 735px;
}

#plus-27-bs-indicator {
    left: 822px;
    top: 181px;
}

#pc1-main-toggler {
    top: 99px;
}

#pc2-main-toggler {
    top: 224px;
}

.right .pc1 .toggler, .right .pc2 .toggler {
    left: 650px;
}

#power-toggler {
    top: 166px;
    left: 742px;
}

#pc1-mode-switcher {
    top: 190px;
    left: 180px;
}

#pc2-mode-switcher {
    top: 1070px;
    left: 209px;
}

.position1 {
    top: 50px;
    left: 11px;
}

.position2 {
    top: 35px;
    left: -12px;
}

.position3 {
    top: 8px;
    left: -19px;
}

.position4 {
    top: -18px;
    left: -11px;
}

.position5 {
    top: -34px;
    left: 11px;
}

.position6 {
    top: -34px;
    left: 41px;
}

.position7 {
    top: -18px;
    left: 62px;
}

.position8 {
    top: 8px;
    left: 70px;
}

.position9 {
    top: 35px;
    left: 63px;
}

.position10 {
    top: 50px;
    left: 38px;
}

.active-position {
    color: white !important;
}

/*#region Buttons*/

#pc2-toggler {
    top: 1009px;
    left: 717px;
}


#pc1-toggler {
    top: 143px;
    left: 745px;
}

#pc1-label {
    top: 220px;
    left: 420px;
}

#pc2-label {
    top: 146px;
    left: 496px;
}

#pc1-pc2-label {
    top: 220px;
    left: 574px;
}

#pc1-toggler-label-on, #pc2-toggler-label-on {
    left: 658px;
}

#pc1-toggler-label-off, #pc2-toggler-label-off {
    left: 654px;
}


#pc1-toggler-label-on {
    top: 75px;
}

#pc1-toggler-label-off {
    top: 145px;
}

#pc2-toggler-label-on {
    top: 203px;
}

#pc2-toggler-label-off {
    top: 270px;
}

#power-toggler-label-on {
    left: 750px;
    top: 145px;
}

#power-toggler-label-off {
    left: 747px;
    top: 210px;
}
#cable1{
    display: inline-block;
    z-index:999;
    float:left;
    margin-left: 50px
}

#cable2{
    display: inline-block;
    z-index:999;
    float:right;
    margin-right: 50px;
}

#pc1-remote-controller-joint {
    top: 580px;
    left: 720px;
    width : 20px;
    height: 20px;
    background: green;
}

#pc2-remote-controller-joint {
    top: 1000px;
    left: 720px;
    width : 20px;
    height: 20px;
    background: green;
}

#bars-remote-controller-joint{
    top: 178px;
    left: 204px;
    width : 20px;
    height: 20px;
    background: green;
}

#off-label {
    top: 270px;
    left: 494px;
}


#PC-pult-bars-btn {
    width: 75px;
    height: 75px;
    position: relative;
    left: 72px;
    top: 35px;
    border-radius:7px;
}


#INT-btn {
    width: 100px;
    height: 100px;
    position: relative;
    left: 166px;
    top: -50px;
    border-radius:10px;
}

#PC-pult-pc1-btn {
    width: 60px;
    height: 60px;
    position: relative;
    left: 285px;
    top: 125px;
    border-radius:25px;
}

#PC-pult-pc2-btn {
    width: 60px;
    height: 60px;
    position: relative;
    left: 285px;
    top: 127px;
    border-radius:25px;
}



#INT-mid-left-btn {
    width: 110px;
    height: 110px;
    position: relative;
    left: 57px;
    top: 19px;
    border-radius:50px;
}

#TLF-mid-left-btn{
    width: 105px;
    height: 100px;
    position: relative;
    left: 60px;
    top: 77px;
    border-radius:25px;
}

#ANT-mid-left-btn {
	width: 80px;
	height: 80px;
	position: relative;
	left: 54px;
    top: 12px;
    border-radius:50px;
}

#INT-bott-left-btn {
    width: 110px;
    height: 110px;
    position: relative;
    left: 60px;
    top: 46px;
    border-radius:50px;
}

#TLF-bott-left-btn{
    width: 105px;
    height: 100px;
    position: relative;
    left: 57px;
    top: 68px;
    border-radius:25px;
}

#mid-left-mode-btn{
    width: 58px;
    position: relative;
    top: -60px;
    height: 58px;
    border-radius: 30px;
}

#battery-btn {
	width: 954px;
    height: 315px;
	position: relative;
	border-radius:50px;
}

#battery-connection-point {
	padding: 0px 385px 0px 384px;
	height: 1px;
	left: 385px;
	top: 330px;
}

#bott-left-mode-btn{

}

/*#endregion */

/*#region Animations*/

.btn-anim-white{
    transition:0.25s;
}

.btn-anim-white:hover{
    background : rgba(255, 255, 255, 0.45);
}

.shadow-anim-white{
    transition:0.25s;
}

.shadow-anim-white:hover{
    box-shadow: 0px 0px 43px 0px rgba(255,255,255,1);
}

/*#endregion*/


.indicators{
    height:0px;
}

#PR-indicator{
    position: relative;
    left: 326px;
    top: 40px;
}

#PR-PRD-indicator{
    position: relative;
    left: 326px;
    top: 56px;
}

#Error-indicator{
    position: relative;
    left: 326px;
    top: 67px;
}

.channel-mode{
    margin-left:45px;
    padding-right:3px;
}

.bg-yellow{
    background: yellow;
    color: black;
    padding-left:2px;
}

.amplifier{
    margin-left: 40px;
}

.main-screen-status-menu{
    display:inline-block;
    width:100%;
    margin-bottom: 7px;
}

.main-screen-status-menu div{
    display: inline;
}

.volume-image {
    background:yellow;
    width:15px;
    margin-left:5px;
    vertical-align: middle;
}

.spec-image {
    vertical-align: middle;
}

.external-element{
    padding: 2px;
    border: 5px solid #dedede;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 6px 7px 0px rgba(0,0,0,0.75);
}

.controlPageButton {
    font-size:30px;
    cursor:pointer;
    display:inline-block;
    padding: 10px;
    color: white;
    background: rgba(80, 77, 77,0.7);
    border: black solid 1px;
    text-decoration:none;
    transition:0.25s;
    position: fixed;
    z-index: 2;
    height: 100%;
    padding-top:30px !important;
}


.tthPageButton {
    font-size:30px;
    cursor:pointer;
    float:right;
    padding: 10px;
    color: white !important;  
}

.left-control-page div{
    display:inline-block;
}

.left-control-page div:last-child{
    font-weight:bold;
}

.right-control-page div:first-child{
    font-weight:bold
}
.right-control-page div{
    display:inline-block;
}

.left-control-page:hover{
    left:0px !important;
}

.right-control-page:hover{
    right:0px !important;
}